html {
  margin: 0;
  padding: 0;
  font-size: 63.5%;
}

body {
  font-family: "Source Sans 3", sans-serif;
  background-color: #f5f5f5;
}

.container {
  background-color: #ffffff;
  max-width: 37.5rem;
  border: 5px solid black;
  border-radius: 30px;
  margin: 0 auto;
}

header {
  padding: 5px 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image__logo {
  width: 12.7rem;
}

.header__img {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
  border: 2px solid black;
}

.name,
.location {
  font-size: 1.4rem;
}
.name {
  font-weight: bold;

  margin-bottom: 0;
}
.location {
  margin-top: 0;
}

.profile {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
  border-top: 2px solid #c6c6c6;
}

.section__one--img {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
}

.main__img {
  width: 37.5rem;
  height: 37.5rem;
}

.icons {
  display: inline-block;
  padding-top: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.heart-icon,
.comment-icon,
.dm-icon {
  width: 2.5rem;
  height: 2.5rem;
  /* fill: #000; */
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.heart-icon:hover {
  box-shadow: 0 0 5px 5px rgb(255, 0, 0);
  border-radius: 100%;
}

.heart-icon:active {
  border: none;
  background-color: #cd040792;
}

#comment-icon:hover {
  box-shadow: 0 0 5px 5px rgb(6, 1, 165);
  border-radius: 100%;
}

#comment-icon:active {
  border: none;
  background-color: rgba(0, 0, 255, 0.449);
}

#like,
.username {
  font-size: 1.6rem;
  line-height: 1;
  padding-left: 1rem;
}

.username span,
#like {
  font-weight: bold;
}

.hidden {
  display: none;
}

.comment {
  min-width: 328px;
  max-width: 328px;
  max-height: 90px;
  min-height: 90px;
  /* max-height: 100%; */
  margin: 8px 4px 8px 4px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: #f9f9f9;
}

textarea {
  min-width: 200px;
  min-height: 30px;
  max-width: 200px;
  max-height: 30px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
}

#post {
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
